<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zero Food Waste</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>

<div id="wrapper">
  <!-- Contains the heading, navigation and banner image -->
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/teacher-view}" style="color:white;">Zero Food Waste</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/daily-tracker}"><span class = "sr-only">(current)</span>Daily Tracker</a></li>
            <li><a th:href="@{/create-challenge}">Create Challenge</a></li>
            <li><a th:href="@{/join-challenge}">Join Challenge</a></li>
            <li><a th:href="@{/challenge-leaderboard}">Leaderboard</a></li>
          </ul>


        </div>
      </div>
    </nav>

  </header>

</div>


<h1>Join Challenge</h1>

<br>
<br>
<br>
<button>Join Challenge</button>


<div class="footer-basic" style="position: fixed;">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/terms-of-use}">Terms and Use</a></li>
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/privacy-policy}">Privacy Policy</a></li>
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/cookies-policy}">Cookies</a></li>
    </ul>
    <p><a href="mailto:theGirlz@example.com" style="color:white; font-size: 12px;">Email Us: theGirlz@example.com</a></p>
    <p class="copyright">Zero Food Waste © 20238</p>
  </footer>
</div>

</body>


</html>

