<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zero Food Waste</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="/css/styles.css" rel="stylesheet" type="text/css">
</head>

<body>
<div id="wrapper">
  <!-- Contains the Heading and Navigation -->
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}" style="color:white;">Zero Food Waste</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/}" style="font-size: 20px;">About Us<span class = "sr-only">(current)</span></a></li>
            <li><a th:href="@{/}" style="font-size: 20px;">FAQ</a></li>
            <li><a th:href="@{/}" style="font-size: 20px;">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/login}" style="font-size: 20px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Contains the Register Form -->
    <br>
    <br>
    <br>
    <br>
    <div>
      <form class="logform" name="loginform" onSubmit="return validateForm();" th:action="@{/login}" method="post">
        <h3 class="text-center formHead animated bounceInDown" style = "text-align: center; text-decoration: underline;">Register</h3>

        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" name="name" th:field="*{user.name}">

        <!-- Hidden input field to store the user's name -->
        <input type="hidden" id="hidden-name" name="hiddenName">

        <label for="email">Email:</label>
        <input type="email" id="email" class="form-control" name="email" th:field="*{user.email}" th:value="*{user.email}" th:readonly="*{isRegistering}" required>

        <label for="password">Password:</label>
        <input type="text" id="password" class="form-control" name="password" th:field="*{user.password}" th:value="*{user.password}" th:readonly="${isRegistering}" required>

        <label for="userType">User Type:</label>
        <select id="userType" name="userType" th:field="*{user.userType}" class="form-control">
          <option value="Student" th:selected="${user.userType == 'Student'}">Student</option>
          <option value="Teacher" th:selected="${user.userType == 'Teacher'}">Teacher</option>
        </select>

        <label class="checkbox" style = "padding-left: 20px;">
        <button class="btn btn-lg btn-primary btn-block loginbtn" type="submit" name="register" value="Register" th:disabled="${isRegistering}" style = "background-color: #a7d1a7; color: black;">Register</button>
        <p th:text="${success}" th:if="${success}"></p>
        <p th:text="${error}" th:if="${error}"></p>

        <div class="reset-links text-center">
          <a href="forgot-pass.html">Forgot Password?</a>

        </div>
      </form>
    </div>
    <br>
    <!-- Footer -->
    <div class="footer-basic" style="position: fixed;">
      <footer>
        <ul class="list-inline">
          <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/terms-of-use}">Terms and Use</a></li>
          <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/privacy-policy}">Privacy Policy</a></li>
          <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/cookies-policy}">Cookies</a></li>
        </ul>
        <p><a href="mailto:theGirlz@example.com" style="color:white; font-size: 12px;">Email Us: theGirlz@example.com</a></p>
        <p class="copyright">Zero Food Waste © 20238</p>
      </footer>
    </div>
  </header>
</div>

<script th:inline="javascript">
    // Change the type of the password field to "password" so that the password is not visible.
    // This is done to allow default values to be set in the password field.
    document.getElementById("password").type = "password";
</script>

<script>
    function toggleTeacherFields() {
        var userType = document.getElementById("userType").value;
        var teacherFields = document.getElementById("teacherFields");
        if (userType == "Teacher") {
            teacherFields.style.display = "block";
        } else {
            teacherFields.style.display = "none";
        }
    }
</script>

<script>
  // Get a reference to the name input field and the hidden input field
  const nameInput = document.getElementById('name');
  const hiddenNameInput = document.getElementById('hidden-name');

  // Add an event listener to the name input field that updates the hidden input field's value
  nameInput.addEventListener('input', function(event) {
    hiddenNameInput.value = event.target.value;
  });
</script>

</body>
</html>