<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Zero Food Waste</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet" type="text/css">

</head>

<body>

<div id="wrapper">
  <!-- Contains the heading, navigation and banner image -->
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" th:href="@{/}" style="color:white;">Zero Food Waste</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li><a th:href="@{/}" style="font-size: 20px;">About Us<span class = "sr-only">(current)</span></a></li>
            <li><a th:href="@{/}" style="font-size: 20px;">FAQ</a></li>
            <li><a th:href="@{/}" style="font-size: 20px;">Contact Us</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a th:href="@{/login}" style="font-size: 20px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            <li><a th:href="@{/register}" style="font-size: 20px;"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
          </ul>
        </div>
      </div>
    </nav>

  </header>

  <main>
    <br>
    <br>
    <br>
    <div style="margin: 0 auto; max-width: 800px;">
      <div style="padding: 20px 20px 0 20px;"></div>
      <h3 style="text-align: center;">Terms and Use</h3>
      <div style="padding: 20px; text-align: justify; margin-left: 20px; margin-right: 20px;">
        <p><strong>Introduction:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse potenti. Nulla at velit vel metus tristique gravida. Fusce nec risus eu lacus commodo auctor. Nam vel dui sit amet tellus tempor varius. In nec turpis vitae justo tristique malesuada sed et felis. Aliquam sagittis justo mi, nec tempor enim interdum at. Quisque in nisl ut nisl consectetur tincidunt ac vitae nulla.</p>
        <p><strong>Section 1:</strong> Vivamus ullamcorper eleifend est, vel tristique lectus dictum id. Aenean volutpat massa vel consectetur eleifend. Praesent sagittis velit vel velit pellentesque tincidunt. Nam porttitor, elit vel pharetra malesuada, nulla turpis bibendum nibh, quis convallis felis felis vel tellus.</p>
        <p><strong>Section 2:</strong> Proin tincidunt ut lorem eu accumsan. Pellentesque eu mi malesuada, ultricies lorem a, vehicula augue. Fusce sollicitudin imperdiet dolor ac lobortis. Nam vel lobortis ipsum. Aliquam sit amet urna rutrum, tempus dolor at, commodo lectus. Nunc vel efficitur velit. Integer auctor, nibh eget laoreet faucibus, nunc lorem ultrices velit, ac pharetra justo velit non lectus. </p>
        <p><strong>Section 3:</strong> Sed eu mi sagittis, mollis nunc ac, tempor mi. Suspendisse fringilla turpis dolor, vitae malesuada elit ullamcorper ac. Praesent pulvinar nisl odio, in suscipit enim consequat eu. Etiam tristique, risus ut auctor blandit, tellus orci pretium ex, in blandit sapien nulla sit amet libero.</p>
        <p><strong>Section 4:</strong> Nunc ac quam id augue venenatis vulputate vitae at massa. In faucibus mauris ac lacinia aliquet. Vivamus eu odio elit. Sed nec ullamcorper enim. Aliquam non tortor bibendum, consequat enim vitae, fermentum odio. Nam varius hendrerit dolor, eget lacinia ipsum commodo id. Fusce vel tellus vitae purus consectetur varius id ac orci.</p>
        <p><strong>Section 5:</strong> Donec at diam in velit tincidunt facilisis. Duis euismod augue nec odio molestie, id bibendum elit commodo. Fusce pharetra libero in ipsum vulputate, auctor fringilla nunc rhoncus. Sed auctor mauris ac faucibus imperdiet. Sed non imperdiet velit. Curabitur blandit mi vitae enim posuere, nec fermentum nisl commodo.</p>
        <p><strong>Section 5:</strong> Donec at diam in velit tincidunt facilisis. Duis euismod augue nec odio molestie, id bibendum elit commodo. Fusce pharetra libero in ipsum vulputate, auctor fringilla nunc rhoncus. Sed auctor mauris ac faucibus imperdiet. Sed non imperdiet velit. Curabitur blandit mi vitae enim posuere, nec fermentum nisl commodo.</p>
        <p><strong>Section 6:</strong> Donec at diam in velit tincidunt facilisis. Duis euismod augue nec odio molestie, id bibendum elit commodo. Fusce pharetra libero in ipsum vulputate, auctor fringilla nunc rhoncus. Sed auctor mauris ac faucibus imperdiet. Sed non imperdiet velit. Curabitur blandit mi vitae enim posuere, nec fermentum nisl commodo.</p>
        <p><strong>Section 7:</strong> Donec at diam in velit tincidunt facilisis. Duis euismod augue nec odio molestie, id bibendum elit commodo. Fusce pharetra libero in ipsum vulputate, auctor fringilla nunc rhoncus. Sed auctor mauris ac faucibus imperdiet. Sed non imperdiet velit. Curabitur blandit mi vitae enim posuere, nec fermentum nisl commodo.</p>
        <p><strong>Section 8:</strong> Donec at diam in velit tincidunt facilisis. Duis euismod augue nec odio molestie, id bibendum elit commodo. Fusce pharetra libero in ipsum vulputate, auctor fringilla nunc rhoncus. Sed auctor mauris ac faucibus imperdiet. Sed non imperdiet velit. Curabitur blandit mi vitae enim posuere, nec fermentum nisl commodo.</p>
        <p><strong>Conclusion:</strong> Sed in sapien vitae libero commodo bibendum. Nunc eget purus nisi. Nulla facilisi. Etiam sed sapien ut massa luctus aliquet. Praesent tristique,</p>
      </div>
    </div>

    <div style="padding-top: 20px; margin-bottom: 20px; text-align: center;">
      <button class="btn btn-primary mr-2 btn-lg" onclick="window.history.back()">Back</button>
    </div>


  </main>


</div>

<div class="footer-basic" style="position: fixed;">
  <footer>
    <ul class="list-inline">
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/terms-of-use}">Terms and Use</a></li>
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/privacy-policy}">Privacy Policy</a></li>
      <li class="list-inline-item" style = "font-size: 15px;"><a th:href="@{/cookies-policy}">Cookies</a></li>
    </ul>
    <p><a href="mailto:theGirlz@example.com" style="color:white; font-size: 12px;">Email Us: theGirlz@example.com</a></p>
    <p class="copyright">Zero Food Waste © 20238</p>
  </footer>
</div>

</body>


</html>

